*.com
*.class
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.suo
/packages/*/lib/*.dll/*.XML/*.xml
*CommonReferences/*.dll
UpgradeLog.XML
_UpgradeReport_Files/
bin/
obj/
TestResults/
*.Publish.xml
/_ReSharper.*
*.ReSharper.*
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sqlite
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
packages/
